{% extends 'PrototypeAdminBundle:Control:admin.html.twig' %}
{% block title %}Team Members Overview{% endblock %}
{% block subtext %}View all Team Members{% endblock %}

{% block body %}
<a href="{{ path('control_meettheteam_teammember_new') }}" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus" ></span>Create Team Member
</a>
    <table class="datatable table table-striped table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Position</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teamMember in teamMembers %}
            <tr>

                <td width="50px"><img src="{{ imageCache('/' ~ teamMember.getFullImagePath, 'cropResize', 50, 50) }}" alt="{{teamMember.name }}"/></td>
                <td>
                     {{teamMember.name }}
                     {% if multilingual %}<br/>{{ viewAvailableTranslations( teamMember ) }}{% endif %}
                </td>

                <td>{{ teamMember.position }}</td>
                <td>{% if teamMember.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a  href="{{ path('control_meettheteam_teammember_edit', { 'id': teamMember.id }) }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil zeromargin" ></span>
                    </a>
                    {% if multilingual %}
                    <a data-toggle="tooltip" title="Add Translation" href="{{ path('control_meettheteam_teammember_translation_new', { 'id': teamMember.id }) }}" class="btn btn-primary">
                      <span class="glyphicon glyphicon-globe zeromargin" ></span>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
