{% extends '@theme/emailbase.html.twig' %}
{% block body %}
<p>Hi {{user.firstname}},<br/>
Looks like somebody (hopefully you) has requested a password reset for {{siteurl}}.</p>

<p>If you want to continue to reset your password - please click the link below:</p>

<p><a href="{{siteurl}}/password-reset/{{url_encrypt}}">{{siteurl}}/password-reset/{{url_encrypt}}</a></p>

<p>Thanks<br/>{{sitename}}</p>

{% endblock %}
