{% extends 'PrototypeAdminBundle:Control:admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block title %}Update Case Study{% endblock %}
{% block subtext %}Updates existing Case Study{% endblock %}

{% block body %}

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-sm-6 col-xs-12" >
            {{ form_row(edit_form.title) }}
            {{ form_row(edit_form.subtitle) }}
        </div>
        <div class="col-sm-6 col-xs-12" >
            {{ form_row(edit_form.image) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {{ form_row(edit_form.content) }}
        {{ form_row(edit_form.fileUpload) }}
        <p><a href="/userfiles/files/casestudies/{{caseStudy.file}}">{{caseStudy.file}}</a></p>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" ></span>Update</button>
        <a href="{{ path('control_casestudies_index') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-triangle-left" ></span>Back
        </a>
    </div>
    {{ form_end(edit_form) }}

    <div class="right">
        {{ form_start(delete_form) }}
            <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        {{ form_end(delete_form) }}
    </div>

{% endblock body %}
