{% extends 'PrototypeAdminBundle:Control:admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block title %}Update Credentials{% endblock %}
{% block subtext %}Updates login credentials{% endblock %}

{% block body %}

    {{ form_start(edit_form) }}

        <div class="col-sm-12 col-md-6 form-group">
            <p>
                <label>Username</label><br/>
                <span>{{ user.username }}</span>
            </p>
            <p>
                <label>Email Address</label><br/>
                <span>{{ user.email }}</span>
            </p>
            {{ form_widget(edit_form) }}
        </div>

        <div class="col-sm-12">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" ></span>Update</button>
            <a href="{{ path('control_user_index') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-triangle-left" ></span>Back
            </a>
        </div>

    {{ form_end(edit_form) }}

{% endblock body %}
