{% extends '@theme/base.html.twig' %}
{% block metatitle %}{{page.metatitle}}{% endblock %}
{% block metadescription %}{{page.metadescription}}{% endblock %}
{% block breadcrumbs %}{{ breadcrumbs(page, domCheckIgnore(app.request.pathinfo) ) }}{% endblock %}

{% block body %}
<!-- START templates\cmspage-standard.html.twig -->

  <!--Transparent Header-->
  <div class="transparent-header">
      <h1>{{ replaceIfComponentDataExists(pageComponents, 'title', page.title)}}</h1>
      {{page.content|raw}}
 </div>
  <!--End Transparent Header-->

  <div class="plain-black clearfix">
        <!--Left Column-->
        <div class="left-col col-xs-12 col-sm-8">
          {{ renderPcgcComponents('Main', pageComponents)|raw }}
        </div>
        <!--End Left Column-->

        <!--Right Column-->
        <div id="sidebar" class="right-col col-xs-12 col-sm-4 hidden-xs">
          {{ renderPcgcComponents('Sidebar Right', pageComponents)|raw }}
        </div>
        <!--End Right Column-->
  </div>

<!-- END templates\cmspage-standard.html.twig -->
{% endblock %}

{% block stylesheets %}
{% endblock %}
