{% extends '@theme/templates/cmspage-store.html.twig' %}
{% block title %}{{product.title}} | {% for cat in categoryTree %}{{cat.title}} | {% endfor %}{{ page.metatitle}}{% endblock %}
{% block metatitle %}{% for cat in categoryTree %}{{product.title}} | {{cat.title}} | {% endfor %}{{ page.metatitle}}{% endblock %}
{% block metadescription %}{{product.description}}. {{ page.metadescription}}{% endblock %}

{% block store_content %}

    <h2>Product - {{product.title}}</h2>
    <p>{{product.description}}</p>
    <p>£{{product.price}}</p>

    {% if product.category.products|length > 1 %}
        <p>Related Products
        {% for relatedproduct in product.category.products if (relatedproduct.active == 1 and relatedproduct.deleted == 0 and relatedproduct.id != product.id ) %}
            <br/>{{product.title}} [ <a href="/{{page.slug}}{{product.fullSlugPath}}">/{{page.slug}}{{product.fullSlugPath}}</a> ]
        {% endfor %}
        </p>
    {% endif %}

{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
